.projects {

  padding: 80px 10%;
  background: var(--bg-color);
  color: var(--text-color); 
  text-align: center;
}

.projects h1 {
  font-size: 38px;
  margin-bottom: 40px;
}

.projects h1 span {
  
  color: var(--primary); 
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}


.project-card {
  background: var(--card-bg);
  backdrop-filter: blur(6px);
  border: 1px solid var(--card-border);
  
  border-radius: 18px;
  overflow: hidden;
  padding-bottom: 20px;
  transition: 0.4s ease;
  transform-style: preserve-3d;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.03);
  border-color: var(--primary);
  box-shadow: 0 10px 40px rgba(0, 238, 255, 0.2); 
}

/* Image */
.project-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  object-position: top;
}


.project-content {
  padding: 15px 20px;
}

.project-content h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.project-content p {
  font-size: 15px;
  opacity: 0.75;
  
  color: var(--secondary-text); 
}


.project-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 10px 18px;
  
  border: 1px solid var(--primary);
  border-radius: 25px;
  color: var(--primary);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.btn:hover {
  
  background: var(--primary);
  color: var(--bg-color); 
}


.github {
  border-color: var(--text-color);
  color: var(--text-color);
}

.github:hover {
  
  background: var(--text-color);
  color: var(--bg-color); 
}


@media(max-width: 600px) {
  .projects {
    padding: 60px 6%;
  }
  
  .project-card img {
    height: 150px;
  }
}
img {
  border-radius: 15px;
}