.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #ff9800;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
  border: none;
  color: white;
}
