

/* ============================
   HERO MAIN CONTAINER
============================ */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 150px 10% 80px;
  gap: 70px;
  color: var(--text);
  transition: 0.3s ease;
}

/* ============================
   LEFT SIDE TEXT
============================ */
.hero-left h2 {
  font-size: 22px;
  color: var(--primary);
  margin-bottom: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.hero-left h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;
  color: var(--text);
}

.hero-left p {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.85;
  margin-bottom: 35px;
  max-width: 500px;
}

/* BTN */
.hero-btn {
  background: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 12px 32px;
  font-size: 18px;
  border-radius: 32px;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: var(--primary);
  color: #111;
}

/* ============================
   RIGHT IMAGE
============================ */
.hero-right img {
  width: 380px;
  height: 420px;
  object-fit: cover;
  border-radius: 22px;
  box-shadow: 0 0 35px rgba(0, 238, 255, 0.35);
  transition: 0.4s ease;
}

.hero-right img:hover {
  transform: scale(1.05);
}

/* ============================
   TABLET RESPONSIVE
============================ */
@media (max-width: 950px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 120px 8% 60px;
    gap: 45px;
  }

  .hero-right img {
    width: 320px;
    height: 360px;
  }

  .hero-left h1 {
    font-size: 42px;
  }

  .hero-left p {
    margin: auto;
  }
}

/* ============================
   MOBILE RESPONSIVE
============================ */
@media (max-width: 550px) {
  .hero {
    padding: 110px 5% 70px;
    gap: 30px;
  }

  .hero-left h1 {
    font-size: 34px;
  }

  .hero-left p {
    font-size: 15px;
  }

  .hero-btn {
    padding: 10px 22px;
    font-size: 15px;
  }

  .hero-right img {
    width: 230px;
    height: 260px;
  }
}

/* ============================
   VERY SMALL SCREEN
============================ */
@media (max-width: 400px) {
  .hero-left h1 {
    font-size: 28px;
  }

  .hero-right img {
    width: 200px;
    height: 220px;
  }
}

