.testimonials {
  padding: 80px 8%;
  text-align: center;
}

.testimonials h1 {
  font-size: 3rem;
  font-weight: bold;
}

.testimonials h1 span {
  color: #00eaff;
}

.review-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
}

.review-card {
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  transition: 0.3s;
  text-align: center;
}

.review-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 255, 200, 0.2);
}

.review-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #00eaff;
}

.review-card h2 {
  font-size: 22px;
  margin-bottom: 3px;
}

.review-card h4 {
  color: #00eaff;
  margin-bottom: 15px;
  font-weight: 500;
}

.review-card p {
  font-size: 15px;
  opacity: 0.9;
  line-height: 22px;
  margin-bottom: 15px;
}

.stars svg {
  color: gold;
  font-size: 20px;
}
