@import "./styles/variables.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}


body.light {
  background: #ffffff;
  color: #111;
}

body.dark {
  background: #0a0f1a;
  color: #f5f5f5;
}


h1, h2, h3, h4 {
  color: inherit;
}

p {
  color: inherit;
  line-height: 1.6;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}



@media (max-width: 992px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  section {
    padding: 3rem 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
}


 .theme-toggle {
  position: fixed;
  bottom: 25px;
  /* right: 25px; */
  padding: 12px 20px;
  background: #04d9ff;
  color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  z-index: 2000;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
  transition: 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.05);
} 
